[package]
name = "indexvec"
description = "Simplified copy of rustc's index crate"
version = "0.3.0"
edition = "2021"
license = "MIT"

[dependencies.serde]
version = "1"
features = ["derive"]
optional = true

[dev-dependencies]
serde_json = "1"
serde = "1"

